<div class="row">
  <div class="page-header">
    <h1>Listing counties (<%= @counties.count %>)</h1>
    <h2>Total fires (<%= total_fires_ignited %>)</h2>
  </div>
  <div class="span12">
    <% @counties.each do |county| %>
      <div class="county">
        <i class="icon-fire"></i><span id="fire-number"><%= county.fires.count %></span><h3 class="fire-link"><%= link_to county.name, county %></h3>
      </div>
    <% end %>
  </div>
</div>
