<header class="container">
	<h1 class="page-header">Fire Scraper</h1>
	<small>{{#linkTo 'index'}}Home{{/linkTo}}</small>
	<small>{{!#linkTo 'counties'}}Counties{{!/linkTo}}</small>
</header>
<section class="container">
	{{outlet}}
</section>
<footer class="container">
	<small>Built by <a href="http://aboutaaron.com">@aboutaaron</a> in Hayward, Calif.</small>
</footer>
