//variables
$red: #b71234;

body {
    a {
        color: $red;
        &:hover {
            color: darken($red, 10%);
        }
    }
}

// Specific Styles
#map {
    height: 400px;

    a {
        color: darken($red, 10%);
    }
}

#description {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

// UI

.nav-bar {
    //background: #eee;
    margin-top: 0px; //zero out default
    margin-bottom: 10px;

    h1 {
        font-size: 32px;
    }

    ul {
        li {

        }
    }

}

// Table
#bottom-wrap {
    background: #ccc;

}

.table-wrap {
    height: 400px;
    overflow: auto;
    margin-top: 18px;
    border: 1px solid #DDD;

    table {
        margin-bottom: 0px;
        border: 0px;
    }
}

// Footer

footer {
    background: #eee;

    p {
        margin-top: 20px;
    }
}