// Place all the styles related to the Fires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables"; // Modify this for custom colors, font-sizes, etc

// App Variables
// =============

$font-size: 18px;

// Global Styles
// =============

body {
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

// Nav Styles

#logo {
    height: 0;

    .icon-fire {
        margin-top: 10px;
    }
}

.twitter-follow-button {
    margin-top: 10px;
}

// Story Styles
// =============

.byline {

    font-size: $font-size + 2;

    time {
        font: italic $font-size "Helvetica Neue," Helvetica, san-serif;
        color: $red;
    }

    .author {
        text-transform: uppercase;
        font-weight: bold;
    }
}

article {
    p {
        margin-top: $baseLineHeight;
        font-size: $font-size;
        line-height: $baseLineHeight + 10;
    }

    #robo-text {
        border-bottom: 1.5px $blue dotted;
    }
}

// Map Styles
// =============

#map {
    img { max-width: none; }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

    h4 {
        margin: 0 0 5px;
        color: #777;
    }
}

.legend {
    line-height: 18px;
    color: #555;

    i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }
}


// Table Styles
// =============

table {
    font-size: 16px;
}